@import "../../../styles/_globals.scss";

.search-history-panel {
  position: fixed;
  height: 100vh;

  top: 0;
  right: 0;

  padding: 15px;
  border: 1px solid $input-border-color;
}

@media only screen and (max-width: 710px) {
  .search-history-panel {
    display: none;
  }
}

.list-item {
  box-sizing: content-box;
  padding: 5px;

  .date-time {
    color: #aaaaaa;
    font-size: 10px;
    margin-top: 3px;
  }
}

.remove-button {
  cursor: pointer;
  text-align: right;
}
