button.search-button {

    border: none;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    background-color: #F4F4F4;
    top: -2px;
    position: relative;
    cursor: pointer;

    &:active {

        background-color: #BCBCBC;
    }

    &:disabled {

        background-color: #ffffff;
        border: 1px solid #DCDCDC;
        color:#B4B4B4;
        cursor: default;
    }
}