@import '../../../styles/_globals.scss';

.search-history-panel {
  position: fixed;
  height: 95vh;
  width: 10vw;
  overflow: hidden;
  border-radius: 15px;

  top: 0;
  right: 0;

  padding: 15px;
  border: 1px solid $input-border-color;

  .list-item-inner-wrapper {
    height: 90vh;
    overflow: auto;
  }
}

@media only screen and (max-width: 710px) {
  .search-history-panel {
    display: none;
  }
}

.list-item {
  box-sizing: content-box;
  padding: 10px;
  width: 8vw;

  .date-time {
    color: #aaaaaa;
    font-size: 10px;
    margin-top: 3px;
  }

  &:hover {
    border: 1px solid $input-border-color;
    cursor: pointer;
    padding: 9px;
  }
}

.remove-button {
  cursor: pointer;
  text-align: right;
}

.history-item-icon {
  width: 4vh;
}
