.main-weather-wrapper {
  display: flex;
  justify-content: center;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%;
    min-height: 60vh;

    form {
      width: 80%;
      text-align: center;
    }

    .search-box-on-result {
      transition: opacity 0.8s;
      opacity: 0;
    }

    .results-wrapper {
      margin-top: 25px;
      opacity: 0;

      &.result {
        transition: opacity 1s;
        opacity: 1;
      }

      &.move {
        position: relative;
        transition: transform 0.8s;
        transform: translateY(-150px);
      }
    }
  }
}
