.main-weather-wrapper {
  display: flex;
  justify-content: center;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%;
    min-height: 60vh;

    form {
      width: 80%;
      text-align: center;
    }

    .results-wrapper {
      margin-top: 25px;
    }
  }
}
