@import '~app/styles/_mixins';

.custom-wrapper {
  width: 90%;
}

.some-column {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  .ellipsis {
    @include ellipsis();
  }
}
