$default-background: #fff;
$dark-background: #272822;

// fonts
$default-main-font-color: #666666;
$dark-main-font-color: #fff;

// border
$input-border-color: #e3e3e3;
$dark-input-border-color: #e3e3e3;

// inputs
$placeholder-color: #dcdcdc;
$dark-placeholder-color: #dcdcdc;
