* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Ubuntu';
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
}

h4 {
  padding: 3px;
  margin: 3px;
}

textarea,
select,
input,
button {
  font-size: 14px;
  outline: none;
  font-family: inherit;
}

.root {
  height: 100%;
}
