@import '~app/styles/_globals.scss';

.root-default-theme {
  color: $default-main-font-color;
  background-color: $default-background;
}

.root-dark-theme {
  color: $dark-main-font-color;
  background-color: $dark-background;
}

button.default-theme {
  color: $default-main-font-color;
}

button.dark-theme {
  color: $dark-main-font-color;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $placehoder-color;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $placehoder-color;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $placehoder-color;
}

.main-wrapper {
  padding: 25px;
}
