@import '~app/styles/_colors.scss';

.search-box-wrapper {
  width: 100%;

  .search-text-input {
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid $input-border-color;
    width: 70%;

    &.search-result {
      position: relative;
      top: 200px;
      width: 150px;
    }
  }

  .button-wrapper {
    margin: 15px;
    display: inline-block;
    top: -2px;
    position: relative;
  }
}
