@import '~app/styles/_mixins';

.history-table-wrapper {
  height: 50vh;
}

.row-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  text-align: left;

  @include ellipsis();
}
