@import '../../../styles/_globals.scss';

.root-default-theme {
  color: $default-main-font-color;
  background-color: $default-background;
}

.root-dark-theme {
  color: $dark-main-font-color;
  background-color: $dark-background;
}

button.default-theme {
  color: $default-main-font-color;
}

button.dark-theme {
  color: $dark-main-font-color;
}
