.root-toggle-theme {
  position: fixed;
  left: 15px;
  bottom: 15px;
  width: 115px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 415px) {
    display: none;
  }
}
