.root-toggle-theme {
  position: fixed;
  left: 15px;
  bottom: 15px;

  > label {
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left: 10px;
  }

  > label:nth-child(2) {
    bottom: 1px;
  }
}
