@import '~app/styles/_colors.scss';

.row-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 90%;
  border: 1px solid yellowgreen;

  // &:last-child {
  //   margin-bottom: 0;
  // }

  &:hover {
    // border: 1px solid $input-border-color;
    border: 1px solid yellowgreen;
    width: 100%;
  }
}
