@import '~app/styles/_mixins';

.table-wrapper {
  display: flex;
  flex-direction: column;
  // width: 100%;
  border: 1px solid red;
  padding: 0 30px;

  .header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 10px 30px;
  }

  .rows {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 10px 30px;
    max-height: 100vh;

    border: 1px solid green;
  }
}
