@import '~app/styles/_mixins';

.table-wrapper {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }

  .rows {
    display: flex;
    flex-direction: column;
    overflow: initial;
  }
}
