@import '~app/styles/_mixins';

.table {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }

  .rows {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50vh;
  }
}
